@font-face{
    font-family:'icomoon';
    src:url(../fonts/icomoon.eot) format("embedded-opentype"),url(../fonts/icomoon.ttf) format("truetype"),url(../fonts/icomoon.woff) format("woff"),url(../fonts/icomoon.svg) format("svg");
    font-weight:400;
    font-style:normal
}
.icon-reverse:before{font-family: icomoon; content:""}
.icon-cullera:before{font-family: icomoon; content:""}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 40px 20px 20px 60px;
    /*height: 100px;*/
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.section-title {
    padding-bottom: 25px;
}

.boto_titol {
    display: block;
    width: 150px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.recepta-form textarea, .recepta-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 18pt;
    margin-right: 20px;
}

.recepta {
    margin-bottom: 70px;
}

.recepta h1 a, .recepta h1 a:visited {
    color: #000000;
}

.comentari {
    margin: 20px 0px 20px 20px;
}

a:hover {
    border-bottom: none; 
}

