{% extends 'receptes/base.html' %}

{% block content %}
    {% for recepta in receptes %}
        <div class="recepta">
            <div class="date">
                <p>Creat el: {{ recepta.data_creacio }}</p>
            </div>
            <h1><a href="{% url 'recepta_detall' pk=recepta.pk %}">{{ recepta.titol }}</a></h1>
            {% autoescape off %}
            <p>{{ recepta.descripcio|linebreaksbr|truncatechars_html:200|safe }}</p>
            {% endautoescape %}
        </div>
    {% endfor %}
{% endblock %}